@CHARSET "ISO-8859-1";

body {
    margin-top: 200px;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 17px;
    background-color: #616160;
    color: #FFC671;      
    text-align: center;    
    
}

